.row-header{
    margin :0px auto;
    padding: 0px;
}

.row-container{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.footer{
    background-color: #82ecef;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #00adcd;
    color: floralwhite;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.copyright{
    padding: 40px 40px 40px 10px;

}

.navbar-dark {
    background-color: #028a93;
}

.breads{
    background-color: #37e1e6;
}
.facts{
    background-color: #0072a2;
}
.cardbg{
    background-color: #2fb4c8;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel{
    background-color: #028a93;;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#carouselButton{
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.button1{
    padding: 10px 5px 10px 5px;
}
.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}